{% extends 'base.html' %}
{% block title %}{{product.title}}{% endblock %}
{% block content %} 
<section class="h-80" style="background-color:white;">
  <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center ">
          <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                  <div class="row g-0">
                      <div class="col-md-6 col-lg-6 d-none d-md-block">
                          <img src="{{product.image.url}}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                      </div>
                      <div class="col-md-6 col-lg-6 d-flex align-items-center">
                          <div class="card-body p-4 p-lg-5 text-black">
                              <div class="col-md-6">
                                  <div class="small mb-1">Serial Number: {{product.id}}</div>
                                  <h1 class="display-6 fw-bolder">{{product.title}}</h1>
                                  <div class="fs-5 mb-5">
                                      <span class="text-decoration-line-through">${{product.price}}</span>
                                      <span>${{product.price}}</span>
                                  </div>
                                  <p class="lead col-lg-12">Elevate your wardrobe with our {{product.title}}, a versatile and stylish addition to your collection. Crafted with the utmost attention to detail, this garment is designed to provide both comfort and fashion-forward flair.
                                      <hr>
                                      {{product.description}}
                                  </p>
                                  <div class="d-flex">
                                      <a href="{{product.get_add_to_cart_url}}">
                                          <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                              <i class="bi-cart-fill me-1"></i> Add to cart </button>
                                      </a>
                                  </div>
                              </div>
                              <p style="color: black;font-weight:bolder ;font-family:  Geneva, sans-serif;">
                                  {{product.discription}}
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<p class="d-inline-flex gap-1" style="padding-left: 30px;">
  <a class="btn btn-light" data-bs-toggle="collapse" href="#reviews" role="button" aria-expanded="false" aria-controls="collapseExample"> Reviews </a>
<div class="container-fluid collapse " id="reviews" style="width: 95%;">
  <!--Grid row-->
  <div class="row ">
      <!--Grid column-->
      <div class="col-lg-6 card">
          <div class="">
            {% if  not reviews %}
            <h5 class="mt-3">Be the first one to write a review for this product</h5> 
            {% else %} 
            <div class="col-lg-12">
                  <div class="rating-block">
                      <h4>Average user rating</h4>
                      <h2 class="bold padding-bottom-7">{{avg_rating}}
                          <small>/ 5</small>
                      </h2>
                      <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="{{avg_percentage}}" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-warning text-dark" style="width:{{avg_percentage}}%">{{avg_rating}}</div>
                      </div>
                  </div>
              </div>
              <br> 
              {% for item in reviews %}
              <!-- each review card -->
              <div class="card bg-body-secondary mb-2">
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="card-title mt-1">
                              <span>
                                  <img src="{{item.user.profile.image.url}}" alt="" style="width: 30px;height: 30px;">
                              </span> {{item.user}}
                          </div>
                          <div class="card-text">{{item.date}}</div>
                      </div>
                      <div class=" col-lg-8">
                          <div class="card-text mt-2 me-3">
                              <div class="progress bg-white col-lg-2" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                  <div class="progress-bar bg-warning" style="width:{{item.rating}}rem;color: black;"> {{item.rating}}/5</div>
                              </div>
                              <div class="cart-title " style="font-weight: bold;">{{item.title}}</div>
                              <div class="card-text mb-2">{{item.content}}</div>
                          </div>
                      </div>
                  </div>
              </div> 
              {% endfor %} 
              {% endif %}
          </div>
      </div>
      <!--Grid column-->
      <div class="col-lg-6">
          <!-- Review Form -->
          <div class="col-lg-12">
              <form action="" method="post" class="form-control"> 
                {% csrf_token %} 
                <h5 class="mt-3"> Add a Review</h5> 
                {% for field in form %} 
                <div>{{field.label_tag}} </div>
                  <div>{{field}}</div> 
                  {% endfor %} 
                  <br>
                  <input type="hidden" name="user" value="{{ request.user.id }}">
                  <button type="submit" class="btn btn-outline-secondary mb-3" style="color: black;">Send Review</button>
              </form>
          </div>
          <!-- End of Review Form -->
      </div>
      <!--Grid column-->
  </div>
  <!-- Grid container -->
</div>
<!-- End of container -->
<br>
<br>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
{% endblock %}